//? Primary

$dark-blue: hsl(233, 26%, 24%);
// $Dark-blue: #2d314d;
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//? Neutral

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 14%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
