//- ==============================================
    ***   (VAR)TITULOS DE PAGINA(PESTAÑAS)    ***
    ==============================================

- let siteTitle = ['ESPERANZA en JESUS'];
- let mainPageTitle = ['Home'];


//- ==============================================
    ********   TITULOS DE PAGINAS()MENU  *********
    ==============================================

- let pageTitles = ['Jesus', 'Nosotros', 'Acordeon', 'Literatura', 'Vidas'];

//- ==============================================
    ***    (VAR)VINCULOS A HOJAS DE ESTILOS    ***
    ==============================================

- let vincDir = ['style', 'all'];


//- ==============================================
      ***    (VAR)VINCULOS A ARCHIVOS JS    ***
    ==============================================

- let vincJs =['index-dom'];

//- ==============================================
    *** (VAR)VINCULOA A ARCHIVO ASSETS(IMG)    ***
    ==============================================
-
  let vincImg = [
    {
      ruta: '../public/assets/img',
    }
  ];



-
  let acordeon = [
    {
      acordeonSectionTitle:'jesús',
      child:[
      'jesus',
      'social',
      ]
    },

  ]